@import "tailwindcss";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";


@theme {
    --color-primary-white: #FFFFFF;
    --color-secondry-black: #000000;
    --color-main: #50B848;
    --color-whitelight: #f2f6fa;
}

* {
    font-family: "Ancizar Sans", sans-serif;
    transition: all 0.3s;
}

body {
    background-color: #f8f8f8;
}

#hero {
    background: #000000;
    background: -webkit-linear-gradient(to bottom #50B848, #1d461b); 
    background: linear-gradient(to bottom, #1d461b,#2e702b, #50B848, #50B848, white); 
}

#footer {
    background: #000000;
    background: -webkit-linear-gradient(to bottom #50B848, #1d461b); 
    background: linear-gradient(to bottom, #1d461b,#2e702b, #50B848); 
}

.slider .slider-animation {
  width: 3600px;
  animation: scroll 10s linear infinite;
}
.slider .slider-animation:hover {
  animation-play-state: paused;
}

@keyframes scroll {
  0% {
    transform: translateX(0)
  }
  100% {
    transform: translateX(-1000px)
  }
}
