@import "tailwindcss";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";


@theme {
    --color-primary-white: #FFFFFF;
    --color-secondry-black: #000000;
    --color-main: #50B848;
    --color-whitelight: #f2f6fa;
}

* {
    font-family: "Ancizar Sans", sans-serif;
    transition: all 0.3s;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
  background-color: white;
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #50B848;
  border-radius: 1px;
}

body {
    background-color: #f8f8f8;
}

#hero {
    background: #000000;
    background: -webkit-linear-gradient(to bottom #50B848, #1d461b); 
    background: linear-gradient(to bottom, #1d461b,#2e702b, #50B848, #50B848, white); 
}

#footer {
    background: #000000;
    background: -webkit-linear-gradient(to bottom #50B848, #1d461b); 
    background: linear-gradient(to bottom, #1d461b,#2e702b, #50B848); 
}


@keyframes scroll {
  0% {
    transform: translateX(0)
  }
  100% {
    transform: translateX(-1000px)
  }
}


/* Float animation */
#image {
  animation: float 2s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-15px);
  }
}

/* Whatsapp Button */
.top {
    z-index: 1903487;
    right: -200px;
}

.active {
    right: 10px;
}


/* top  Scroller */
.scroller {
  z-index: 999999;
}